@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --light-gray: hsl(0, 0%, 95%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
}

body {
    background-color: var(--light-gray);
    font-family: 'Lexend Deca', sans-serif;
    color: var(--light-gray);
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
}

.container {
    max-width: 965px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 8px;
    overflow: hidden;
    margin: 32px;
}

.item {
    padding: 45px;
}

.item-1 {
    background-color: var(--orange);
}

.item-1 button {
    color: var(--orange);
}

.item-2 {
    background-color: var(--cyan);
}

.item-2 button {
    color: var(--cyan);
}

.item-3 {
    background-color: var(--dark-cyan);
}

.item-3 button {
    color: var(--dark-cyan);
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--light-gray);
}

p {
    color: var(--transparent-white);
    font-size: 15px;
    line-height: 1.7;
}

button {
    background-color: var(--light-gray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    border-radius: 50px;
    border: none;
    height:47px;
    width: 145px;
    margin: 70px 0 5px 0;
}

button:hover {
    background-color: transparent;
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 50px 0px 50px 0px;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
    button {
        margin: 10px 0 5px 0;
    }
}